.task, .survey
{
    
    font-family: Roboto;
    color: #666;
    max-width: 1200px;
    margin: 20px 0px 0px 115px;
    padding: 0px 10px;
    
    .questions
    {
        padding-bottom: 20px;
        
        .question
        {
            padding-top: 10px;
            p
            {
                margin-bottom: 10px;
            }
            
            label
            {
                padding-left: 10px;
            }
        }
    }
}

.healthliteracy
{
    .error
    {
        border: 4px solid red;
        padding: 10px;
        margin: 10px;
    }
    
    .advertisment
    {
        width: 400px;
        text-align: center;
    }
    
    .question
    {
        padding-left: 10px;
    }
    
    .options
    {
        padding-top: 20px;
        padding-left: 50px;
    }
}

.showRelatedInfoIcon
{
    display: none;
    position: fixed;
    top: 130px;
    left:135px;
    padding: 10px;
    
    border: 5px solid #326295;
    background-color: #DCE4EF;
    .icon
    {
        float: left;
        margin-right: 10px;
    }
    
    .title
    {
        float: left;
    }
}

