i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;

}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer
{
    margin-top: auto;
}

.results
{
    a
    {
        color:#326295;
    }
    
    font-family: Roboto;
    color: #666;
    max-width: 1200px;
    margin: 20px 0px 0px 115px;
    padding: 0px 10px;
    
    .heading
    {
        font-size: 18px;
        line-height: 30px;
        height: 42px;
        color: #3E3E3E;
        font-family: Roboto;
        font-weight: bold;
            
        .icon
        {
            padding: 2px 4px;
            margin: 0px 4px;
            cursor: pointer;  
        }
    }
    
    .introduction
    {
        font-size: 14px;
        color:#326295;
        padding-bottom: 10px;
    }
    
    .question
    {        
        padding-bottom: 0px;
        padding-top: 0px;        
        .content
        {
            text-align: justify;
            overflow: hidden;
            font-weight: bold;
            font-size: 20px;
            word-wrap: break-word;
            line-height: 35px;
            color: #3E3E3E;
        }
        
        .info
        {
            font-size: 12px;
        }
    }
    
    .answer 
    {
        padding:10px;        
        .content
        {
            padding-right: 20px;
            font-size: 16px;
            color: rgb(13,110,253);
            font-weight: bold;

            .relatedinfo-click:hover
            {
                text-decoration: underline;
                font-weight: bold;
                cursor: pointer;
            }
            
        }
    } 
    
    .type3 
    {
        .related-image-video-wrapper
        {
            padding-top:0px !important;
        }
    }
    .related-image-video-wrapper
    {
        padding-top:20px;
    }
 
    .patient-info
    {        
        padding-top: 5px;
                
        .icon
        {
            width: 40px;
            float: left;
            img
            {
                height: 30px;
                width: 30px;
            }
        }

        .title
        {
            font-size: 14px;
            line-height: 21px;
            font-weight: bold;
            width: calc(100% - 60px);
            float: left;

        }
    }
    
    .answer-list
    {
        color: rgb(13,110,253);
        font-weight: bold;
        .answer-sentence
        {
            padding: 5px 0px 15px 0px;
            .sentence
            {
                font-size: 16px;
                line-height: 24px;    
                padding-bottom: 10px;
            }
            
            .patient-info:first-of-type
            {
                padding-top: 0px !important;
            }
           .patient-info
            {
             @extend .patient-info
            }
        }
    }
    
    .related-info-modal
    {
        .patient-info
        {
            @extend .patient-info
        }
    }
    
    .related-info-list
    {
        .related-info
        {
            padding-bottom: 10px;            
            @extend .patient-info
        }
    }
        
    
    .related-research
    {
        padding:10px;        
        .content
        {
            font-size: 14px;
        }
    }


    
    .content
    {
        float: right;
        width: 100%;
    }
    .margin
    {
        width: 35px;        
        float: left;        
        img
        {
            width: 40px;
            height: 40px;
            padding-right: 10px;
        }
    }
    
    .item
    {
        padding-bottom: 10px;
    }
    
    .crop-text-3 
    {
        -webkit-line-clamp: 3;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    
    .show-more-less
    {
        text-align: right;
        color: #326295;
        font-size: 12px;
        cursor: pointer;
    }
    
    .more, .less
    {
        cursor: pointer;            
    }
    
    .heading-box
    {
        padding-top: 40px;
    }         
    
    .related-research 
    {
        .clinical-evidence-list
        {
            color: #326295;
            .clinical-evidence
            {
                padding: 10px 0px 10px 0px;
                .icon
                {
                    width: 40px;
                    float: left;
                    position: relative;
                    top: 4px;
                        
                    img
                    {
                        height: 30px;
                        width: 30px;
                    }
                }
                
                .content
                {
                    font-size: 14px;
                    line-height: 21px;                     
                    width: calc(100% - 60px);
                    float: left;
                    
                    .title
                    {
                        font-weight: bold;
                    }
                    
                    .text
                    {
                        
                    }
                }
            }
        }
                
    }
    
  
}
